extends ../layout/base

block variables
	- var title='Оказане услуг по ремонту автомобилей |ViaMotors| Беларусь';
	- var description='Оказане услуг по ремонту автомобилей |ViaMotors| Беларусь';
	- var pageClass='price-page';

block content

	section.price
		.container
			+section-title('Цены')
			.price-wrapper

				.price-descr <b>ВИАмоторс</b> предлагает ремон автомобилей по доступным ценам. Нижк преведена таблица с ориентировочной стоимостью услуг, поскольку она зависит от марки и года автомобиля. Сообщив нам, Вы узнаете точную стоимость ремонта вашего автомобиля <b>и при этом  будете приятно удивлены!</b>
				.price-img
					.price-img__wrap
						img(src='/assets/img/price.png')
			.price-table
				include ../includes/modules/table

